<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vuestudy</title>
  </head>
  <body>
    <div id="app">
      <select v-model="selected">
        <option disabled value="">What is your blood type ?</option>
        <option v-for="type in ['A','B','O','AB']" v-bind:value="type">
          {{ type }}
        </option>
      </select>
      <p>{{ selected }}</p>
    </div>

    <script src="https://unpkg.com/vue@2.3"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          selected:''
        }
      });
    </script>
  </body>
</html>
